<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP iis" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\tools\php\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="resource.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
